.sobre-curso {
    height: auto;
    background-color: var(--creme);
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    gap: 3rem;
    padding: 3rem;
}

.sobre-curso-titulo {
    color: var(--laranja-principal);
    grid-column: span 2;
    justify-self: center;
    width: max-content;
    font-size: 2rem;
}

.sobre-curso-infos {
    justify-self: center;
    height: 100%;
    width: 70%;
    border: 0.4rem solid var(--laranja-principal);
    margin: 0 2rem;
    padding: 0 1rem;
}

.sobre-curso-infos-titulo {
    text-transform: uppercase;
    color: var(--laranja-principal);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.sobre-curso-infos-txt {
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

.proposta {
    border: 0.4rem solid var(--azul-principal);
}

.sobre-curso-infos-titulo-proposta {
    color: var(--azul-principal);
}

@media screen and (max-width: 912px) {
    .sobre-curso {
        row-gap: 2rem;
        column-gap: 0;
    }
}

@media screen and (max-width: 820px) {
    .sobre-curso {
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 540px) {
    .sobre-curso-infos {
        width: 100%;
    }
}