.prof {
    padding: 2rem 6rem;
}

.card-infos-titulo-prof {
    color: var(--azul-principal);
    margin-bottom: 2rem;
}

.prof-txt {
    text-align: justify;
}

.prof-redesocial-img {
    margin-right: 1em;
}

@media screen and (max-width: 540px) {
    .prof {
        padding: 2rem 4rem;
    }
}