@import url(card.css);
@import url(card-sobre-curso.css);
@import url(card-aulas.css);
@import url(prof.css);
@import url(opinioes.css);
@import url(inscricao.css);
@import url(rodape.css);

:root {
    --azul-principal: #0e2b3d;
    --laranja-principal: #F07B35;
    --laranja-hover: #E45E11;
    --creme: #DADADA;
    --branco: #FFFFFF;
    --cinza: #A9A9A9;
    --destaque: #2BE2C3;
}

body {
    font-family: 'Inter', sans-serif;
}